@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: #05101c;
  font-family: 'Roboto Slab', serif;
}